# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# OS X metadata
.DS_Store

# Windows thumbs
Thumbs.db


# MAIN

libs/


# wp-prod

dev/wp-prod/*
!dev/wp-prod/*.sh
!dev/wp-prod/rules
!dev/wp-prod/core-version
!dev/wp-prod/readme.txt


# sass-watch

dev/sass-watch/*
!dev/sass-watch/*.sh
!dev/sass-watch/rules
!dev/wp-prod/readme.txt
