# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db


# MAIN

libs/


# wp-prod

dev/wp-prod/*
!dev/wp-prod/*.sh
!dev/wp-prod/rules
!dev/wp-prod/core-version
