
# to_prod


webpack		script.dev.js		script.js		js/

webpack		style.dev.css		style.css



## Libraries


### babel-polyfill


copy		[m]/@babel/polyfill/dist/polyfill.min.js		libs/babel-polyfill/babel-polyfill.js


### typed.js

install		typed.js


copy		[m]/typed.js/lib/typed.min.js	libs/typed.js/typed.js