theme


webpack		js/admin-script.js
webpack		js/lightbox.js
webpack		js/script.js

webpack		style.css


# Libraries


## babel-polyfill


copy	[m]/@babel/polyfill/dist/polyfill.min.js	libs/babel-polyfill/babel-polyfill.js
